:root {
    --primary-color: #00ba74;
    --primary-color-hover: #028a56;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color-hover)
}

body, html {
  background-color: rgb(242, 247, 251) !important;
}
input .form-control{
    border-color: var(--primary-color) !important;
}

.link {
  cursor: pointer !important;
}

.p-multiselect {
    min-width: 100% !important;
}

.gray-text, .control-label{ 
  color: rgb(78, 87, 79) !important;
}